---
import '../styles/global.css';
import SEO from '../components/SEO.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="it" class="bg-textMain" style="background-color: #333333;">
	<head>
		<SEO title={title} />
		
		<!-- IMPORTAZIONE FONT DA GOOGLE FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">

		<!-- Icons Script (Lucide) -->
		<script src="https://unpkg.com/lucide@latest"></script>
	</head>
	<body class="font-sans text-stone-800 bg-textMain overflow-x-hidden min-h-screen flex flex-col" style="background-color: #333333;">
		<slot />
		
		<script>
			// @ts-ignore
			lucide.createIcons();
		</script>
	</body>
</html>
